examples/transformCommands.json
[{"id":"81118030f0e7efcc","type":"Thing Setup","z":"7a781a8fe704fc29","thingType":"August","things":[{"name":"Front Door","id":"ABCDEFGH","props":{},"state":[],"commands":[],"children":[]}],"state":[],"commands":[{"type":"bool","cmd":"true","as":"lock"},{"type":"bool","cmd":"false","as":"unlock"}],"statusFunction":"let text = (state.open ? 'Open' : 'Closed') + ' and ' + (state.locked ? 'Locked' : 'Unlocked')\nlet fill = state.locked ? 'red' : 'green'\nlet shape = state.open ? 'ring' : 'dot'\nreturn {text, fill, shape}","debug":false,"x":630,"y":1020,"wires":[]},{"id":"aecf65200eca3e23","type":"comment","z":"7a781a8fe704fc29","name":"Transform Commands","info":"This example sets command \"proxies\".\n\nWhen a boolean command is sent to one of these things, it is converted to an object before outputting on the respective Process node.\n\nThese can also be used in conjunction with command forwarders.","x":620,"y":980,"wires":[]},{"id":"c9e055f2f340d506","type":"Thing Process","z":"7a781a8fe704fc29","nodeName":"","thingType":"August","topic":"$id","debug":false,"x":790,"y":1020,"wires":[["0e17402078b65388"]]},{"id":"58f07a54c5a8c325","type":"Thing Command","z":"7a781a8fe704fc29","nodeName":"","name":"","command":"","commandType":"str","debug":false,"x":880,"y":1060,"wires":[]},{"id":"2ef608aea233f52d","type":"inject","z":"7a781a8fe704fc29","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Front Door","payload":"true","payloadType":"bool","x":700,"y":1060,"wires":[["58f07a54c5a8c325"]]},{"id":"0e17402078b65388","type":"august","z":"7a781a8fe704fc29","account":"","lock":"","autoSubscribe":false,"x":930,"y":1020,"wires":[[]]}]